@{
    Layout = null;
}

@model LoginModel

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Amazon Books Login</title>
    
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

</head>
    <body >
        <div class="bg-dark text-white p-2">
            <span class="navbar-brand m-1-2">Book Store</span>
        </div>

        <div class="m-5 p-5">
            <div class="text-danger" asp-validation-summary="All"></div>

            <form method="post" asp-controller="Account" asp-action="Login" class="bg-dark p-5 rounded border-primary">
                <div class="form-group">
                    <label asp-for="UserName" class="text-white">User Name:</label>
                    <input asp-for="UserName" class="form-control" />
                </div>

                <div class="form-group">
                    <label asp-for="Password" class="text-white">Password:</label>
                    <input asp-for="Password" class="form-control" type="password" />
                </div>
                <button class="btn btn-primary" type="submit">Log In</button>

                <input type="hidden" asp-for="ReturnURL" />
            </form>
        </div>

    </body>
</html>
